__pycache__/
.venv/
tmp/
.env
node_modules
frontend-dev.tar.gz

.output
/.svelte-kit
/build
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
!.env.test
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.svelte-kit/
demo/build